%h2 Login


-#- if flash[:notice]
-#  %p{ class: "flash" }= flash[:notice]

%form{ method: "post", action: "/login"}
  %p
    %label username:
    %input{ type: "text", name: "user[username]" }
  %p
    %label password:
    %input{ type: "password", name: "user[password]" }
  %p
    %button Log in
